/* biar logo tidak besar navbar */
.main-head .logo img {
    width: 180px !important;
    height: 25px !important;
}

.search-container {
    display: flex;
    align-items: center;
    width: 400px; /* Adjust width as needed */
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    margin-left: 130px;
}

#search-input {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    width: 100%; /* Adjust width as needed */
}


.gambar-kami {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
    border-bottom: 1px solid #E3E3E3 ;
    filter: brightness(40%);
}

#search-icon {
    font-size: 18px;
    color: #224038;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
}

/* Optional: style the search icon on hover */
#search-icon:hover {
    color: #333;
}


.bton .fa-solid:hover {
    cursor: pointer;
}

.circle i:hover {
    text-decoration: none;
}

.bton .circle {
    border-radius: 50%;
    width: 50px; /* Fixed size */
    height: 50px; /* Fixed size */
    line-height: 50px; /* Match the height */
    color: #e3e3e3;
    background: #224038;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
    align-items: center;
}

/* Ensure circle size consistency on smaller screens */
@media (max-width: 100%) {
    .circle {
        width: 30px;
        height: 30px;
    }
}



.kotak-luar:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/* Card end */
